<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
</head>
<body>
<section class="page-1">
    <div class="logo"></div>
    <div class="progress-wrapper">
        <img src="assets/img/flower.png">
        <div class="progress">
            <div class="progress-value" style="width:80%"></div>
        </div>
    </div>
    <div class="progress-text">50%</div>
</section>
<section class="page-2 page-init">
    <div class="begin"></div>
    <div class="game hidden"></div>
    <div class="redbag hidden">
        <div class="left-game-times hidden">还剩0次抽奖机会</div>
    </div>
    <div class="btns-wrapper hidden2">
        <img class="btn-start" src="assets/img/btn-start.png">
        <img class="btn-back hidden" src="assets/img/back.png">
        <div class="links">
            <a>活动规则</a>
            <a>我的中奖</a>
        </div>
    </div>
</section>

<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>
<script>
    var b = document.documentElement;
    b.setAttribute('data-useragent', navigator.userAgent);
    b.setAttribute('data-platform', navigator.platform);
    b.className += ((!!('ontouchstart' in window) || !!('onmsgesturechange' in window)) ? ' touch' : '');
</script>
</body>
</html>